
.category {

    // .category__container
    @media (min-width: 767.98px) {
    }

    &__container {
        overflow: hidden;
        >* {
            margin-bottom: 20px;
        }
        >:last-child {
            margin-bottom: 0px;
        }
        @media (min-width: 767.98px) {
            >* {
                margin-bottom: 90px;
            }
        }
    }

    // .category__brand-list

    &__brand-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        animation-name: run-row;
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    @keyframes run-row {
        0% {
            transform: translate(100%);
            opacity: 0;
        }
        5% {
            opacity: 1;
        }
        95% {
            opacity: 1;
        }
        100% {
            transform: translate(-100%);
            opacity: 0;
        }
    }

    // .category__brand-item

    &__brand-item {
        flex: 0 1 200px;
    }

    // .category__brand-img

    &__brand-img {
        aspect-ratio: 200/70;
        object-fit: contain;
        width: 100%;
    }

     // .category__grid-items

     &__grid-items {
        display: grid;
        grid-template-columns: repeat(1fr);
        gap: 14px;
       @media(any-hover:hover) {
            &:hover > :not(:hover) {
                opacity: 0.7;
            }
       }
    }

    // .category_item-link

    &_item-link {
        position: relative;
        overflow: hidden;
        transition: all .3s;
        img { 
            aspect-ratio: 1 / 1;
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: all .3s;
        }
        @media(any-hover:hover) {
            &:hover {
                box-shadow: 0px 0px 6px 0.5px #80808092;
            }
            &:hover > img {
                transform: scale(1.05);
            }
        }
    }
    @media (min-width: 550px) {
        &__grid-items {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (min-width: 767.98px) {

        // .category__grid-items

        &__grid-items {
            grid-template-columns: repeat(4, 1fr);
            gap: 24px;
        }
        
        // .category_item-link

        &_item-link {
            &:nth-child(10n+1),
            &:nth-child(10n+8) {
                grid-column: span 2;
                grid-row: span 2;
            }
            &:only-child {
                grid-column: span 4;
                grid-row: span 4;
            }
        }
    }
     // .category__img-label

     &__img-label {
    }
}



.category {

   
}
.label-img {

    // .label-img__row-2

    &__row-2 {
    }
}
