.footer {
    font-family: "Open Sans";
    font-size: 14px;
    text-transform: capitalize;
    color: #1E2832;
    
    // .footer__main

    &__main {
        padding-top: 15px;
        padding-bottom: 15px;
        @media(min-width: 550px) {
            padding-top: 40px;
            padding-bottom: 30px;
        }
        @media(min-width: 1024px) {
            padding-top: 140px;
            padding-bottom: 90px;
        }
    }

    // .footer__container

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 56px;
        row-gap: 20px;
        @media (min-width: 1024px) {
            flex-wrap: nowrap;
        }
    }

    // .footer__contact

    &__contact {
        line-height: 2.1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        @media (min-width: 1024px) {
            max-width: 31%;
            gap: 32px;
        }
        @media(max-width: 1024px) {
            .footer__logo {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    // .footer__text

    &__text {
        flex-grow: 1;
        text-align: center;
        p {
            font-size: 12px;
            color: rgba(30, 40, 50, 0.75);
            line-height: 1.75;
        }
        @media(min-width: 550px) {
            p {
                font-size: 16px;
                
            }
        }
        @media(min-width: 1024px) {
            text-align: left;
        }
    }

    // .footer__list-social

    &__list-social {
        display: flex;
        justify-content: space-evenly;
        gap: 15px;
        width: 100%;
        @media(min-width: 1024px) {
            gap: 36px;
            justify-content: flex-start;
        }
    }

    // .footer__item-social

    &__item-social {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        max-width: 25px;
        max-height: 25px;
        width: 100%;
        height: 100%;
    }

    // .footer__link-social

    &__link-social {
        width: 100%;
        height: 100%;
        transition: all .3s;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
            width: 20px;
            height: 100%;
            object-fit: contain;
        }
        @media(any-hover:hover) {
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    // .footer__inner

    &__inner {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px 15px;
        flex-grow: 1;
        flex-wrap: wrap;
        @media(min-width: 550px) {
            gap: 40px;
            grid-template-columns: repeat(3,1fr);
        }
        @media (min-width: 1200px) {
            gap: 136px;
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
    }

    // .footer__column

    &__column {
        width: 100%;
    }

    // .footer__sub-title

    &__sub-title {
        font-size: 12px;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 22px;
        @media(min-width: 767.98px) {
            font-size: 16px;
        }
    }

    // .footer__list

    &__list {
        display: flex;
        flex-direction: column;
        gap: 5px;
        line-height: 1.72;
        @media(max-width: 550px) {
            font-size: 12px;
        }
        @media(min-width: 1024px) {
            gap: 12px;
        }
        .footer__link {
            @media(any-hover:hover) {
                &:hover {
                    text-decoration: underline;
                    color: #FF6F61;
                }
            }
        }
    }
 
    // .footer__copyrights

    &__copyrights {
        background-color: #1E2832;
        padding: 10px 0px;
        color: $colorWhite;
        line-height: 1.2;
        .footer__container {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            gap: 10px;
        }
    }

    // .footer__copyright

    &__copyright {
        @media(max-width: 550px) {
            font-size: 10px;
        } 
    }

    // .footer__pay

    &__pay {
        max-width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
            width: 100%;
        }
        @media(min-width: 550px) {
            max-width: 283px;
        }
    }

    // .footer__scroll-top

    &__scroll-top {
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            &::after {
                content: "";
                width: 14px;
                height: 16px;
                background-image: url("../img/icons/arrow_top.svg");
                background-position: center;
                background-size: 100%;
                background-repeat: no-repeat;
            }
        }
        @media(any-hover:hover) {
            &:hover {
                text-decoration: underline;
                color: #FF6F61;
            }
        }
        @media(max-width: 550px) {
            font-size: 10px;
        } 
    }



    
}