
.post {
    background-image: url("../img/background.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    &::after {
        content: "";
        background-image: url("../img/zara_bg.webp");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 632px;
        height: 250px;
        position: absolute;
        bottom: 0;
        right: -11%;
    }
    @media(min-width: 767.98px) {
        &::after {
            width: 732px;
            height: 309px;
            top: 1%;
            right: -2%;
        }
    }

    // .post_container

    &__container {  
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        min-height: 530px;
        @media(min-width: 767.98px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            min-height: 696px;
        }
    }

    // .post__hero-img

    &__hero-img {
        max-width: 42%;
        transform: translate(-15%);
        position: relative;
        z-index: 1;
        & img {
            width: 100%;
        }
    }

    // .post__content

    &__content {
        padding-bottom: 20px;
        padding-top: 40px;
        max-width: 100%;
        text-align: center;
        >*:not(:last-child){
            margin-bottom: 25px;
        }
        @media(min-width: 767.98px) {
            padding-bottom: 93px;
            padding-top: 40px;
            padding-right: 33px;
            max-width: 42%;
            text-align: left;
            >*:not(:last-child){
                margin-bottom: 55px;
            }
        }
    }

    // .post__title

    &__title {
        max-width: 191px;
        & img {
            width: 100%;
        }
        @media(max-width: 767.98px) {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    // .post__text

    &__text {
        color: $colorWhite;
        line-height: 1.6;
        text-transform: capitalize;
        @include adaptiveValue("font-size", 26, 18);
       
    }

    // .post__button

    &__button {
    }
}



