/*======================= FONTS =======================*/
@import "https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap";
@import "https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap";
.logo {
  max-width: 140px;
  width: 100%;
}
.logo__image {
  width: 100%;
}
@media (min-width: 550px) {
  .logo {
    max-width: 180px;
  }
}

.label-img {
  position: absolute;
  top: 7%;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  font-family: "Open Sans";
}
.label-img span {
  background-color: #000;
  color: #FFF;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 4px 12px;
}

.btn {
  font-family: Roboto;
  background-color: #000;
  color: #FFF;
  font-weight: 400;
  line-height: 1.2;
  text-transform: capitalize;
  padding: 9px 16px;
}
.btn--white {
  background-color: #FFF;
  color: #000;
}
@media (any-hover: hover) {
  .btn--white:hover {
    background-color: rgba(255, 255, 255, 0.67);
  }
}
@media (min-width: 84.375em) {
  .btn {
    font-size: 1.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.125rem , 0.911407767rem  +  1.067961165vw , 1.8125rem )) {
    .btn {
      font-size: clamp( 1.125rem , 0.911407767rem  +  1.067961165vw , 1.8125rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 0.911407767rem  +  1.067961165vw , 1.8125rem )) {
    .btn {
      font-size: calc(1.125rem + 0.6875 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .btn {
    font-size: 1.125rem;
  }
}
@media (min-width: 767.98px) {
  .btn {
    padding: 19px 26px;
  }
}

.title {
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  text-align: center;
}
@media (min-width: 84.375em) {
  .title {
    font-size: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.375rem , 0.8313106796rem  +  2.7184466019vw , 3.125rem )) {
    .title {
      font-size: clamp( 1.375rem , 0.8313106796rem  +  2.7184466019vw , 3.125rem );
    }
  }
  @supports not (font-size: clamp( 1.375rem , 0.8313106796rem  +  2.7184466019vw , 3.125rem )) {
    .title {
      font-size: calc(1.375rem + 1.75 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1.375rem;
  }
}
.title--bider-font {
  font-weight: 300;
  line-height: 1;
  text-align: left;
}
@media (min-width: 84.375em) {
  .title--bider-font {
    font-size: 4.625rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.75rem , 0.8567961165rem  +  4.4660194175vw , 4.625rem )) {
    .title--bider-font {
      font-size: clamp( 1.75rem , 0.8567961165rem  +  4.4660194175vw , 4.625rem );
    }
  }
  @supports not (font-size: clamp( 1.75rem , 0.8567961165rem  +  4.4660194175vw , 4.625rem )) {
    .title--bider-font {
      font-size: calc(1.75rem + 2.875 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .title--bider-font {
    font-size: 1.75rem;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.header {
  background-color: #f3f4f4;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-top: 30px;
  padding-bottom: 20px;
}
@media (min-width: 767.98px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(30, 40, 50, 0.05);
}
@media (min-width: 767.98px) {
  .header__body {
    gap: 30px;
  }
}
.header__search {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media (min-width: 379.98px) {
  .header__search {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}
.header__search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18px;
          flex: 0 1 18px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
@media (any-hover: hover) {
  .header__search-btn:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.header__search-img {
  aspect-ratio: 20/19;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
@media (max-width: 379.98px) {
  .header__logo-inner {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.header__action {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
  row-gap: 5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-size: 18px;
  text-transform: capitalize;
  color: #1E2832;
  font-weight: 400;
}
.header__link span {
  display: none;
}
.header__link img {
  max-width: 20px;
  min-width: 20px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (any-hover: hover) {
  .header__link:hover span {
    text-decoration: underline;
  }
  .header__link:hover img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media (min-width: 767.98px) {
  .header__link span {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 1.2;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 767.98px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .header__burger::before, .header__burger::after, .header__burger span {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #000;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
  }
}
.header__list-navigation {
  display: none;
}
@media (min-width: 767.98px) {
  .header__list-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-transform: capitalize;
  }
}
@media (min-width: 767.98px) and (min-width: 84.375em) {
  .header__list-navigation {
    font-size: 1rem;
  }
}
@media (min-width: 767.98px) and (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 0.875rem , 0.8361650485rem  +  0.1941747573vw , 1rem )) {
    .header__list-navigation {
      font-size: clamp( 0.875rem , 0.8361650485rem  +  0.1941747573vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.8361650485rem  +  0.1941747573vw , 1rem )) {
    .header__list-navigation {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (min-width: 767.98px) and (max-width: 20em) {
  .header__list-navigation {
    font-size: 0.875rem;
  }
}
.header__link-navigation {
  width: 100%;
}
@media (any-hover: hover) {
  .header__link-navigation:hover {
    text-decoration: underline;
    opacity: 0.8;
  }
}

.hero {
  background-color: #f3f4f4;
  padding-top: 24px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  position: relative;
}
.hero::before, .hero::after {
  display: none;
}
@media (min-width: 550px) {
  .hero {
    padding-top: 64px;
    padding-bottom: 60px;
  }
}
@media (min-width: 767.98px) {
  .hero {
    margin-bottom: 90px;
  }
}
@media (min-width: 1199.98px) {
  .hero::before, .hero::after {
    display: block;
    content: "";
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
  }
  .hero::before {
    background-image: url("../img/icons/branch_left.svg");
    width: 7%;
    max-width: 133px;
    height: 67px;
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
    left: -21px;
    bottom: 108px;
  }
  .hero::after {
    background-image: url("../img/icons/branch_right.svg");
    width: 10%;
    max-width: 195px;
    height: 262px;
    right: -33px;
    bottom: 157px;
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}
@media (min-width: 767.98px) {
  .hero__inner {
    gap: 98px;
  }
}
.hero__body {
  width: 53%;
}
.hero__body > * {
  margin-bottom: 20px;
}
.hero__body > :last-child {
  margin-bottom: 0px;
}
@media (min-width: 550px) {
  .hero__body > * {
    margin-bottom: 52px;
  }
}
.hero__content {
  font-weight: 400;
  line-height: 1.83;
  text-transform: capitalize;
  margin-bottom: 66px;
}
@media (min-width: 84.375em) {
  .hero__content {
    font-size: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 0.875rem , 0.5643203883rem  +  1.5533980583vw , 1.875rem )) {
    .hero__content {
      font-size: clamp( 0.875rem , 0.5643203883rem  +  1.5533980583vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.5643203883rem  +  1.5533980583vw , 1.875rem )) {
    .hero__content {
      font-size: calc(0.875rem + 1 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .hero__content {
    font-size: 0.875rem;
  }
}
.hero__btn-link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  text-align: center;
}
.hero__btn-link span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.hero__btn-link span::before {
  content: "";
  background-image: url("../img/icons/cart_btn.svg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
@media (any-hover) {
  .hero__btn-link:hover {
    background-color: rgba(0, 0, 0, 0.67);
  }
}
.hero__logo {
  width: 32.9%;
  border-radius: 80px 0px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -ms-flex-item-align: center;
      align-self: center;
  z-index: 2;
}
.hero__logo .hero__image {
  border-radius: 80px 0px;
  aspect-ratio: 424/542;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin: -10px 8px 10px -8px;
}
@media (min-width: 550px) {
  .hero__logo {
    border-radius: 120px 0px;
    border: 2px solid rgba(0, 0, 0, 0.25);
  }
  .hero__logo .hero__image {
    border-radius: 120px 0px;
    margin: -20px 18px 20px -18px;
  }
}
@media (min-width: 767.98px) {
  .hero__logo {
    border-radius: 160px 0px;
  }
  .hero__logo .hero__image {
    border-radius: 160px 0px;
  }
}

.category__container {
  overflow: hidden;
}
.category__container > * {
  margin-bottom: 20px;
}
.category__container > :last-child {
  margin-bottom: 0px;
}
@media (min-width: 767.98px) {
  .category__container > * {
    margin-bottom: 90px;
  }
}
.category__brand-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: run-row;
          animation-name: run-row;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes run-row {
  0% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    opacity: 0;
  }
}
@keyframes run-row {
  0% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    opacity: 0;
  }
}
.category__brand-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}
.category__brand-img {
  aspect-ratio: 200/70;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.category__grid-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}
@media (any-hover: hover) {
  .category__grid-items:hover > :not(:hover) {
    opacity: 0.7;
  }
}
@media (min-width: 550px) {
  .category__grid-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 767.98px) {
  .category__grid-items {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
}
.category__item-link {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.category__item-link img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .category__item-link:hover {
    -webkit-box-shadow: 0px 0px 6px 0.5px rgba(128, 128, 128, 0.5725490196);
            box-shadow: 0px 0px 6px 0.5px rgba(128, 128, 128, 0.5725490196);
  }
  .category__item-link:hover > img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@media (min-width: 767.98px) {
  .category__item-link:nth-child(10n+1), .category__item-link:nth-child(10n+8) {
    grid-column: span 2;
    grid-row: span 2;
  }
  .category__item-link:only-child {
    grid-column: span 4;
    grid-row: span 4;
  }
}

.cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 550px) {
  .cards__container {
    gap: 35px;
  }
}
.cards__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 10px;
  font-family: "Open Sans";
}
@media (min-width: 550px) {
  .cards__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.cards__menu-list {
  display: none;
}
@media (min-width: 550px) {
  .cards__menu-list {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 10px;
  }
}
@media (min-width: 767.98px) {
  .cards__menu-list {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
.cards__menu-link {
  width: 100%;
  text-transform: capitalize;
  line-height: 1.2;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .cards__menu-link:hover {
    color: #000;
  }
}
.cards__btn-filter {
  padding: 5px 15px;
  background-color: #1e2832;
  color: #FFF;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 1.2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.cards__btn-filter span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 6px;
}
.cards__btn-filter span::before {
  content: "";
  background-image: url(../img/icons/filter.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
}
.cards__btn-filter--without-icon span::before {
  display: none;
}
@media (any-hover: hover) {
  .cards__btn-filter:hover {
    background-color: rgba(0, 0, 0, 0.422);
  }
}
.cards__inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  gap: 14px;
}
@media (min-width: 550px) {
  .cards__inner {
    gap: 24px;
  }
}
.cards--with-scroll .cards__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
}
.cards--with-scroll .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 312px;
          flex: 0 0 312px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
  font-family: "Open Sans";
}
.card__link-img {
  display: block;
  aspect-ratio: 312/400;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
@media (any-hover: hover) {
  .card__link-img:hover {
    -webkit-box-shadow: 0px 0px 6px 0.5px rgba(128, 128, 128, 0.5725490196);
            box-shadow: 0px 0px 6px 0.5px rgba(128, 128, 128, 0.5725490196);
  }
  .card__link-img:hover .card__img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.card__img-label .label-img__row-2 {
  background-color: #FF6F61;
}
.card__img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}
.card__label {
  padding: 0 10px;
}
.card__link-label {
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
}
@media (any-hover: hover) {
  .card__link-label:hover {
    text-decoration: underline;
    color: #FF6F61;
  }
}
.card__info {
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.card__name-category {
  line-height: 1.2;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.5);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.card__price {
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  row-gap: 10px;
}
.card__price--sale :first-child {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
  font-size: 14px;
}
.card__price--sale :last-child {
  color: #FF6F61;
}

.post {
  background-image: url("../img/background.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}
.post::after {
  content: "";
  background-image: url("../img/zara_bg.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 632px;
  height: 250px;
  position: absolute;
  bottom: 0;
  right: -11%;
}
@media (min-width: 767.98px) {
  .post::after {
    width: 732px;
    height: 309px;
    top: 1%;
    right: -2%;
  }
}
.post__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 530px;
}
@media (min-width: 767.98px) {
  .post__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    min-height: 696px;
  }
}
.post__hero-img {
  max-width: 42%;
  -webkit-transform: translate(-15%);
      -ms-transform: translate(-15%);
          transform: translate(-15%);
  position: relative;
  z-index: 1;
}
.post__hero-img img {
  width: 100%;
}
.post__content {
  padding-bottom: 20px;
  padding-top: 40px;
  max-width: 100%;
  text-align: center;
}
.post__content > *:not(:last-child) {
  margin-bottom: 25px;
}
@media (min-width: 767.98px) {
  .post__content {
    padding-bottom: 93px;
    padding-top: 40px;
    padding-right: 33px;
    max-width: 42%;
    text-align: left;
  }
  .post__content > *:not(:last-child) {
    margin-bottom: 55px;
  }
}
.post__title {
  max-width: 191px;
}
.post__title img {
  width: 100%;
}
@media (max-width: 767.98px) {
  .post__title {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.post__text {
  color: #FFF;
  line-height: 1.6;
  text-transform: capitalize;
}
@media (min-width: 84.375em) {
  .post__text {
    font-size: 1.625rem;
  }
}
@media (min-width: 20em) and (max-width: 84.375em) {
  @supports (font-size: clamp( 1.125rem , 0.9696601942rem  +  0.7766990291vw , 1.625rem )) {
    .post__text {
      font-size: clamp( 1.125rem , 0.9696601942rem  +  0.7766990291vw , 1.625rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 0.9696601942rem  +  0.7766990291vw , 1.625rem )) {
    .post__text {
      font-size: calc(1.125rem + 0.5 * (100vw - 20rem) / 64.375);
    }
  }
}
@media (max-width: 20em) {
  .post__text {
    font-size: 1.125rem;
  }
}
.social {
  padding: 50px 0px;
  background-color: #f3f4f4;
}
@media (min-width: 767.98px) {
  .social {
    padding: 100px 0px;
  }
}
.social__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.social__body > *:not(:last-child) {
  margin-bottom: 60px;
}
.social__list-img {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}
@media (min-width: 479.98px) {
  .social__list-img {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 767.98px) {
  .social__list-img {
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1199.98px) {
  .social__list-img {
    grid-template-columns: repeat(6, 1fr);
  }
}
.social__item-img {
  aspect-ratio: 1/1;
  width: 100%;
}
.social__link-img {
  display: block;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .social__link-img:hover {
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5725490196);
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5725490196);
  }
  .social__link-img:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.social__img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.social__form > *:not(:last-child) {
  margin-bottom: 35px;
  text-align: center;
}
@media (min-width: 550px) {
  .social__form > *:not(:last-child) {
    margin-bottom: 74px;
  }
}
.social__form-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 26px;
}
.social__email {
  max-width: 643px;
  outline: none;
  border-bottom: 2px solid #000;
  padding-bottom: 13px;
  padding-inline: 15px;
}
.social__email::-webkit-input-placeholder {
  color: rgba(30, 40, 50, 0.5);
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.social__email::-moz-placeholder {
  color: rgba(30, 40, 50, 0.5);
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.social__email:-ms-input-placeholder {
  color: rgba(30, 40, 50, 0.5);
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.social__email::-ms-input-placeholder {
  color: rgba(30, 40, 50, 0.5);
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.social__email::placeholder {
  color: rgba(30, 40, 50, 0.5);
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.social__email:focus::-webkit-input-placeholder {
  opacity: 0;
}
.social__email:focus::-moz-placeholder {
  opacity: 0;
}
.social__email:focus:-ms-input-placeholder {
  opacity: 0;
}
.social__email:focus::-ms-input-placeholder {
  opacity: 0;
}
.social__email:focus::placeholder {
  opacity: 0;
}
@media (any-hover: hover) {
  .social__email:hover::-webkit-input-placeholder {
    color: #FF6F61;
  }
  .social__email:hover::-moz-placeholder {
    color: #FF6F61;
  }
  .social__email:hover:-ms-input-placeholder {
    color: #FF6F61;
  }
  .social__email:hover::-ms-input-placeholder {
    color: #FF6F61;
  }
  .social__email:hover::placeholder {
    color: #FF6F61;
  }
}
.social__submit {
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 1.2;
  text-transform: capitalize;
  max-width: 91px;
  border-bottom: 2px solid #000;
  padding-bottom: 13px;
}
@media (any-hover: hover) {
  .social__submit:hover {
    cursor: pointer;
    color: #FF6F61;
  }
}

.footer {
  font-family: "Open Sans";
  font-size: 14px;
  text-transform: capitalize;
  color: #1E2832;
}
.footer__main {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 550px) {
  .footer__main {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .footer__main {
    padding-top: 140px;
    padding-bottom: 90px;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 56px;
     -moz-column-gap: 56px;
          column-gap: 56px;
  row-gap: 20px;
}
@media (min-width: 1024px) {
  .footer__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.footer__contact {
  line-height: 2.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
}
@media (min-width: 1024px) {
  .footer__contact {
    max-width: 31%;
    gap: 32px;
  }
}
@media (max-width: 1024px) {
  .footer__contact .footer__logo {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.footer__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}
.footer__text p {
  font-size: 12px;
  color: rgba(30, 40, 50, 0.75);
  line-height: 1.75;
}
@media (min-width: 550px) {
  .footer__text p {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .footer__text {
    text-align: left;
  }
}
.footer__list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 15px;
  width: 100%;
}
@media (min-width: 1024px) {
  .footer__list-social {
    gap: 36px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.footer__item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 25px;
  max-height: 25px;
  width: 100%;
  height: 100%;
}
.footer__link-social {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__link-social img {
  width: 20px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (any-hover: hover) {
  .footer__link-social:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.footer__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 550px) {
  .footer__inner {
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .footer__inner {
    gap: 136px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__column {
  width: 100%;
}
.footer__sub-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 22px;
}
@media (min-width: 767.98px) {
  .footer__sub-title {
    font-size: 16px;
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  line-height: 1.72;
}
@media (max-width: 550px) {
  .footer__list {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  .footer__list {
    gap: 12px;
  }
}
@media (any-hover: hover) {
  .footer__list .footer__link:hover {
    text-decoration: underline;
    color: #FF6F61;
  }
}
.footer__copyrights {
  background-color: #1E2832;
  padding: 10px 0px;
  color: #FFF;
  line-height: 1.2;
}
.footer__copyrights .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 10px;
}
@media (max-width: 550px) {
  .footer__copyright {
    font-size: 10px;
  }
}
.footer__pay {
  max-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__pay img {
  width: 100%;
}
@media (min-width: 550px) {
  .footer__pay {
    max-width: 283px;
  }
}
.footer__scroll-top span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
.footer__scroll-top span::after {
  content: "";
  width: 14px;
  height: 16px;
  background-image: url("../img/icons/arrow_top.svg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media (any-hover: hover) {
  .footer__scroll-top:hover {
    text-decoration: underline;
    color: #FF6F61;
  }
}
@media (max-width: 550px) {
  .footer__scroll-top {
    font-size: 10px;
  }
}

/* =================================================== */
body {
  font-family: "Roboto", sans-serif;
  color: #000;
  background-color: #FFF;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  padding-bottom: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
main > * {
  margin-bottom: 50px;
}
main > :last-child {
  margin-bottom: 0px;
}
@media (min-width: 767.98px) {
  main > * {
    margin-bottom: 140px;
  }
}

[class*=__container] {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}