/*=====================================================*/
/*======================= FONTS =======================*/
/*=====================================================*/

@import url("fonts.css");

/*=====================================================*/
/*==================== Reset Style ====================*/
/*=====================================================*/

@import url("reset.css");

/* =================================================== */

body {
    font-family: "Proxima Nova", sans-serif;
    background-color: #F8F8F8;
    color: #2B2929;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

/* ====================== HEADER ===================== */

.header {
    display: flex;
    flex-direction: column;
}

.top-header {
    color: #535353;
    position: sticky;
    top: 0;
    z-index: 1;
}

.top-header__container {
    max-width: 1320px;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    align-items: center;
}

.top-header__list {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1.87;
}

.top-header__link:hover {
    color: #b07823a5;
    transform: scale(1.05);
}

.top-header__link {
    transition: transform .3s;
}

.top-header__social {
    display: flex;
    column-gap: 30px;
    align-items: center;
    align-self: flex-start;
}

.social__block {
    display: flex;
    column-gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1.87;
}

.social__media {
    display: flex;
    column-gap: 10px;
}

.social__img-link>img {
    max-width: 30px;
    width: 100%;
    transition: all .3s;
}

.social__img-link:hover>img {
    opacity: 0.8;
    transform: scale(1.1);
}

.lang {
    font-size: 19px;
    font-weight: 600;
    display: flex;
    align-items: center;
    line-height: 1;
    text-transform: uppercase;
    transition: color .3s;
}

.lang:hover {
    color: #b07823a5;
}

.lang::after {
    content: "";
    background: url("../img/icons/arrow.svg") 0 0 / 100% no-repeat;
    width: 24px;
    height: 24px;
}

.body-header {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

.body-header__container {
    max-width: 1320px;
    padding: 25px 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.logo-link {
    max-width: 250px;
}

.logo-link img {
    width: 100%;
    transition: opacity .3s;
}

.logo-link:hover img {
    opacity: 0.8;
}

.btn {
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
    border-radius: 8px;
    background-color: #FFBC57;
    padding: 11px 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    transition: all .2s;
}

.btn:hover {
    background-color: #f3aa3d;
    text-decoration: underline;
    box-shadow: 0px 0px 2px 1px #3d250099;
}

.btn::before {
    content: "";
    background: url("../img/icons/menu-catalog.svg") 0 0 / 100% no-repeat;
    width: 24px;
    height: 24px;
    transition: transform .3s;
}

.btn:hover::before {
    transform: rotate(180deg);
}

.body-header__search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 421px;
    border: 1px solid #B1B1B1;
    border-radius: 8px;
    line-height: 1.87;
    color: #B1B1B1;
    padding: 10px 15px;
}

.search__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search__input {
    color: #000;
    outline: none;
    max-width: 90%;
}

.body-header__contacts {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 10px;
    align-items: center;
}

.contacts__icon {
    max-width: 50px;
    order: 3;
}

.contacts__icon img {
    width: 100%;
}

.contacts__group {
    display: flex;
    flex-direction: column;
    order: 2;
}

.contacts::after {
    content: "";
    background: url("../img/icons/arrow.svg") 0 0 / 100% no-repeat;
    width: 24px;
    height: 24px;
    order: 1;
}

.contacts__group span {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.69;
}

@keyframes tel-transform {
    0% {
        transform: scale(1) rotate(0deg);
    }

    100% {
        transform: scale(1.1) rotate(15deg);
    }
}

.contacts__group:hover+.contacts__icon {
    animation-name: tel-transform;
    animation-duration: .2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.link-tell {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.40;
}

.link-tell:hover {
    color: #535353;
}

.body-header__selected {
    display: flex;
    column-gap: 20px;
}

.selected__link {
    max-width: 50px;
}

.selected__link:hover img {
    transform: scale(1.1);
}

.selected__link img {
    width: 100%;
    transition: transform .2s;
}

.bottom-header {
    background-color: #fff;
    font-size: 19px;
    font-weight: 600;
    border-top: 2px solid #F8F8F8;
}

.bottom-header__container {
    max-width: 1320px;
    padding: 30px 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.bottom-header__sales {
    display: flex;
    align-items: center;
    column-gap: 40px;
    row-gap: 10px;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: flex-start;
}

.sales__link img {
    max-width: 24px;
    width: 100%;
}

.sales__link {
    display: flex;
    align-items: center;
    gap: 0 10px;
    color: #535353;
    line-height: 1.26;
}

.category__link {
    line-height: 1.26;
    color: #535353;
}

.sales__link,
.category__link {
    transition: transform .3s;
}

.sales__link:hover,
.category__link:hover {
    color: #b07823a5;
    transform: scale(1.05);
}

.bottom-header__category {
    display: flex;
    column-gap: 40px;
    row-gap: 10px;
    flex-wrap: wrap;
}

/* ====================== PAGE ===================== */

.page {
    padding-top: 20px;
    padding-bottom: 20px;
}

.page__container {
    max-width: 770px;
    padding: 0 15px;
    margin: 0 auto;
}

.page__container>* {
    margin-bottom: 40px;
}

.page__container>*:last-child {
    margin-bottom: 0px;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.20;
    position: sticky;
    top: 0;
    z-index: 1;
}

.page__form {
    border-radius: 8px;
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
    background-color: #FFF;
    position: sticky;
    top: 0;
    z-index: 2;
}

.form__personal-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-bottom: 5px solid #F8F8F8;
}

.title-form {
    display: flex;
    gap: 15px;
    align-items: center;
}

.title-form__img {
    max-width: 60px;
    width: 100%;
}

.title-form__img img {
    width: 100%;
}

.title-form>h3 {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.30;
}

.form__group {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
}

.form__input {
    display: flex;
    flex-basis: 325px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--Theme-Grey-light, #D1D5D5);
    background-color: #FFF;
    transition: background-color .3s;
}

.form__content:focus-visible {
    outline: 1px solid #535353;
    border-radius: 8px;
}

.form__input:hover {
    background-color: #b5b3b313;
}

.form__content {
    padding: 10px 20px;
}

.form__content:hover::placeholder {
    color: #f3aa3d;
}

.form__content::placeholder {
    line-height: 1.87;
    color: #535353;
    transition: all .3s;
}

.form__content::placeholder:focus-visible {
    opacity: 0;
}

.form__ckeckbox {
    flex-basis: 650px;
    display: flex;
}

.form__ckeckbox input {
    display: none;
}

.form__ckeckbox input:checked+label::before {
    background: #FFBC57 url("../img/icons/tick.svg") center / 100% no-repeat;
    border: 2px solid #FFBC57;
}

.checkbox__label {
    display: inline-flex;
    align-items: center;
    gap: 0 10px;
    cursor: pointer;
}

.checkbox__label:hover {
    color: #f3aa3d;
}

.checkbox__label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid #D1D5D5;
}

/* =============================form 2============================== */
.form__delivery {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-bottom: 5px solid #F8F8F8;
}

.form__columns-delivery {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.radio-button {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.radio-button__label {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 210px;
    border-radius: 8px;
    border: 3px solid var(--Theme-Light, #F8F8F8);
    background: #FFF;
    padding: 17px;
    cursor: pointer;
}

.radio-button__label:hover .radio-button__image {
    transform: scale(1.2);
}

.radio-button__image {
    max-width: 40px;
    width: 100%;
    transition: transform .2s;
}

.radio-button img {
    width: 100%;
}

.radio-button__title-delivery {
    flex-shrink: 0;
    line-height: 1.87;
    text-align: center;
}

.radio-button__cost-delivery {
    font-size: 15px;
    line-height: 1.46;
    color: #535353;
}

.radio-button__label:has(> .radio-button__input:checked) {
    border: 3px solid #ffbc57;
}

.radio-button__input:checked+.radio-button__image img {
    opacity: 0;
}

.radio-button__input:checked+.radio-button__image {
    background: url("../img/check_choose.svg") 0 0 / 100% no-repeat;
}

.radio-button__input {
    display: none;
}

.section-map {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #F8F8F8;
    gap: 20px;
    
}
.section-map__content {
    display: flex;
    gap: 20px;
}

.section-map__image {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    max-width: 40px;
    width: 100%;
}

.section-map__image img {
    width: 100%;
}


.section-map__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section-map__timetable {
    line-height: 1.87;
}

.section-map__location {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.40;
}

.section-map__button {
    padding: 13px 20px;
    background: #FFBC57;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    transition: all .3s;
}
.section-map__button:hover {
    background: #ffb039;
    transform: scale(1.05);
}

.section-map__button img {
    max-width: 24px;
    width: 100%;
}

.section-map__button span {
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
    color: #fff;
}

/* ===================form 3=============== */


.form__pay {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-bottom: 5px solid #F8F8F8;
}

.choose-pay > * {
    margin-bottom: 24px;
}

.choose-pay > *:last-child {
    margin-bottom: 0px;
}

.choose-pay__item {
    font-size: 17px;
    line-height: 1.41;
    display: flex;
    align-items: center;
    gap: 10px;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.choose-pay__item--animation:hover .choose-pay__card img {
    animation-name: scale;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} 

.choose-pay__item:hover {
    color: #f3aa3d;
}

.choose-pay__image {
    max-width: 24px;
    width: 100%;
    transition: all .5s;
}

.choose-pay__image img {
    width: 100%;
}

.choose-pay__label {
    cursor: pointer;
}

.choose-pay__card {
    max-width: 48px;
    width: 100%;
}

.choose-pay__card img {
    width: 100%;
}

.choose-pay__input:checked+.choose-pay__image img {
    opacity: 0;
}

.choose-pay__input:checked+.choose-pay__image {
    background: url("../img/check_choose.svg") 0 0 / 100% no-repeat;
}

.choose-pay__input {
    display: none;
}

/* ===========================FORM 4========================== */

.form__comment {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text-comment__textarea {
    max-width: 680px;
    min-height: 150px;
    border-radius: 8px;
    border: 1px solid var(--Theme-Grey-light, #D1D5D5);
    background: #FFF;
    padding: 10px 20px;
    resize: vertical;
}

.text-comment__textarea:hover::placeholder {
    color: #f3aa3d;
}

.text-comment__textarea:focus-visible {
    outline: 1px solid #535353;
}

.send {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.send__btn {
    border-radius: 8px;
    background: #FFBC57;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0; 
    width: 100%;;
    min-height: 50px;
    padding: 8px 30px;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
    color: #fff;
    transition: all .3s;
}

.send__btn:hover {
    background: #ffb039;
    transform: scale(1.05);
}

.send__info {
    font-size: 17px;
    line-height: 1.41;
    color: #535353;
}

.send__info a {
    color: #FFBC57;
}

  



















/* ====================FOOTER==================== */
.footer {
    background-color: #2B2929;
}

.footer__container {
    max-width: 1320px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.footer__item {
    color: #B1B1B1;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.46;
    padding-top: 20px;
    padding-bottom: 20px;

}