.page {
    background-color: #000000;
    color: #fff;
    @include adaptiveValue("font-size", 18, 12);

    // .page__java-script

    &__java-script {
        background-color: #000000;
        display: flex;
        flex-direction: column;
        gap: toRem(15);
        align-items: center;
        font-size: teRem(12);
        @media(min-width: toEm(767.98)) {
            gap: toRem(30);
        } 
    }

    // .page__title

    &__title {
        letter-spacing: toRem(5);
        text-decoration: underline;
        font-weight: 600;
        line-height: 1.4;
        text-transform: capitalize;
        text-align: center;
        font-size: toRem(28);
        @media(min-width: toEm(767.98)) {
            font-size: toRem(60);
        }
    }

    // .page__inner

    &__inner {
        width: 70%;
        & > *:not(:last-child) {
            margin-bottom: toRem(20);
        }
    }

    // .page__block

    &__block {
        padding: toRem(15);
        background-color: rgb(30, 50, 50);
        border-radius: toRem(5);
        display: flex;
        flex-direction: column;
        gap: toRem(10);

    }

    // .page__sub-title

    &__sub-title {
        font-size: toRem(24);
        color: rgb(255, 247, 0);
        font-weight: 600;
        text-decoration: underline;
        letter-spacing: toRem(5);
        text-align: center;
        text-transform: uppercase;
    }

    // .page__task

    &__task {
        color: rgba(21, 255, 0, 0.727);
        line-height: 1.4;
    }

    // .page__list

    &__list {
        :not(:last-child) {
            margin-bottom: toRem(10);
        }
    }

    // .page__item

    &__item {
        line-height: 1.4;
        letter-spacing: toRem(3);
        span {
            padding-left: toRem(45);
        }
    }

    // .page__answer

    &__answer {
        span {
            color: rgb(255, 0, 0);
            text-decoration: underline;
            padding-left: toRem(0);
            letter-spacing: toRem(3);
            line-height: 1.4;
        }
    }




}

